<div class="container panel-background">
    <div class="d-flex flex-column align-items-center">
        <h4>Add processes</h4>
        <hr style="width: 100%">

        <div class="d-flex flex-row">
            <div class="d-flex flex-column" style="margin-right: 1rem">
                <h4>Name </h4>
                <h2 class="process-title" *ngFor="let process of processService.processes; let i = index">{{process.name}}</h2>
                <input [(ngModel)]="newProcessName" type="text" class="form-control value-input-field" id="name" aria-describedby="name"
                       placeholder="Arrive time">
            </div>
            <div class="d-flex flex-column ms-2">
                <h4>Arrive</h4>
                <h2 class="process-title"  *ngFor="let process of processService.processes; let i = index">{{process.arrival}}</h2>
                <input [(ngModel)]="newProcessArrival" type="number" class="form-control value-input-field" id="arriveTime" aria-describedby="arrive"
                       placeholder="Arrive time">
            </div>
            <div class="d-flex flex-column ms-2">
                <h4>Process time</h4>
                <h2 class="process-title"  *ngFor="let process of processService.processes; let i = index">{{process.cpu_time}}</h2>
                <input [(ngModel)]="newProcessTime" type="number" class="form-control value-input-field" id="cpuTime" aria-describedby="time"
                       placeholder="Process time">
            </div>
            <div class="d-flex flex-column align-items-end">
                <div class="d-flex mt-auto">
                    <button class="btn btn-primary ms-2" (click)="addProcess()">Add</button>
                    <button class="btn btn-danger ms-2" (click)="clearProcesses()">Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>
